// Colours
$black: #333333;
$white:#ffffff;
$cream:#fffff6;
$primary:#7fbbcb;
$secondary:#fbae17;
$grey: #cccccc;
// Opacities
$grey-op:rgba(221,221,221,.5);

// Fonts & type families
// Icon Font
@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
  font-family: "icons"; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
// Typekit
$display:"ltc-bodoni-175", "bodoni", "didot", serif;
$body:"ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
$caps:"ff-meta-sc-web-pro", $body;

// Media Queries
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 350px)  { @content; }
  }
}

// Misc. Variables