// Body Styles //
// Base em size
html{
  font-size:16px;
  //@include breakpoint(papa-bear) { font-size: 24px; }
  //@include breakpoint(mama-bear) { font-size: 12px; }
  //@include breakpoint(baby-bear) { font-size: 10px; }
}

// Typography
body{
  font-family:$body;
  font-weight:normal;
  line-height:1.1em;
}
h1, h2, h3, h4, h5, h6{
  font-family:$display;
  font-size:2.5em;
  line-height:1.2em;
}
strong{
  font-family:$caps;
  text-transform:lowercase;
  font-weight:normal;
}
a{
  text-decoration:none;
  color:$primary;
  @include transition-property(color);
  @include transition-duration(.3s);
  &:hover{
    color:$secondary;
  }
}
p{
  line-height:1.37em;
}

// Body
body{
  margin:1em;
  background:$cream;
  color:$black;
}