.mc-form{
  //width:50%;
  height:100%;
  font-size:1em;
  //background:$grey;
  margin:0 auto;
  padding:2em 0 0 0;
  .mc-field-group{
    margin:.5em 0;
  }
  label{
    display:block;
    width:25%;
    padding:.05em .5em .2em .2em;
    float:left;
    text-align:right;
  }
  input{
    font-size:1em;
    width:75%;
    padding:.05em .2em .2em .2em;
    border:.1em solid $primary;
    @include placeholder{
      color:$secondary;
      font-family:$body;
      font-weight:bold;
    }
    &[type=submit]{
      @include button($primary);
      width:100%;
      font-size:1.5em;
    }
  }
}