// 01. Main Content
// 02 Main Featured Loop
// 03. Home Post

// 01. Body
body{
  min-width:$minWidth;
  max-width:$maxWidth;
  margin:0 auto;
  padding:.5em;
}

// 01. Main Content
.main-content{
  //width:100%;
  //max-width:$minWidth;
  //margin:0 auto;
  
  width:$minWidth;
  float:right;
}

// 02. Module Two
.main-featured-loop{
  float:left;
  width:25em;//20%;
}