// Widgets //
// 01. Seasonal
// 02. Page Navi
// 03. Yoast SEO Breadcrumbs
// 04. Modular Meta Styles
// 05. Related Posts

// 01. Seasonal
.seasonal{
  margin:0 0 0 0;
  border-bottom:solid $black .22em;
}
a.christmas-link{
  color:$black;
}

// 02. Page Navi
.pagenavi-box{
  font-family:$display;
  font-style:italic;
  width:100%;
  clear:both;
  &.top{
    margin:.22em 0;
    padding:0 0 .22em 0;
    border-bottom:$black dotted .14em;
  }
  &.bottom{
    margin:1em 0 0 0;//.22em 0 0 0;
    padding:.22em 0 0 0;
    border-top:$black dotted .14em;
  }
}
.wp-pagenavi{
  span, a{
    display:inline-block;
    background:yellow;
    margin:0 .22em 0 0;
    padding:.25em .5em;
	  color:$cream;
	  background:$primary;
	  transition:background .3s ease;
	}
	.pages{
	  padding:.25em 1em;
	  background:$black;
	}
	a:hover{
    background:$secondary;
  }
	.current{
	  background:$cream;
	  color:$primary;
	}
	.extend{
	  display:none;
	}
}
// Fallback 'Next' and 'Prev' links if pagenavi breaks
.fallback{
  &.next-posts{
    float:right;
  }
  &.prev-posts{
    float:left;
  }
}

// 03. Yoast SEO Breadcrumbs
.breadcrumbs{
  font-size:.8em;
  padding:.5em 0;
}

// 04. Modular Meta Styles
// Rating Circle
.post-rating{
  display:block;
  font-size:1.2em;
  width:4em;
  height:4em;
  line-height:1em;
  padding:1.5em 0 0 0;
  border-radius:2em;
  font-family:$display;
  text-align:center;
  background:$black;
  color:$cream;
  //cursor:pointer;
  &:hover{color:$cream;}
}
// Post Meta
.meta .labels{
  display:inline-block;
	width:25%;
	min-width:7.5em;
	text-align:right;
	padding:0 .5em 0 0;
}
.meta .info{
	font-family:$display;
	font-style:italic;
	text-transform:capitalize;
	color:$primary;
}

// 05. Related Posts
.yarpp-related h3{
	font-size:2em;
	border-bottom:$black solid 1px;
}
.related-posts{
  width:100%;
  //background:yellow;
}
.related-post{
	width:48%;
	float:left;
	border-top:$black dotted 2px;
	border-bottom:$black solid .66em;
	margin:1em 2% 0 0;
	padding:.5em 0 0 0;
	h4{
	  font-size:1.5em;
	  line-height:1.1em;
    a{color:$primary;
      &:hover{color:$secondary;}}
    border-bottom:$black solid 1px;
	}
	.related-post-meta{
	  width:33.33%;
	  float:left;
	  .meta{
	    color:$primary;
	    font-family:$display;
	    font-style:italic;
	    line-height:1em;
	  }
	}
	.post-rating{
	  margin:.22em auto;
	}
	.related-post-image{
  	float:right;
  	min-height:4em;
  	overflow:hidden;
  	background:blue;
  }
}
/*
.related-post-meta{
	width:33%;
	float:left;
	color:#333;
}
.related-post-meta p{
	font-size:16px;
	line-height:20px;
	padding:0px;
}

.related-meta{
	color:#7FBBC8;
	font-family:"ltc-bodoni-175", "bodoni", "didot", serif;
	font-style:italic;
	font-size:18px;
}
.related-post .post-rating{
	margin-top:10px;
}
.related-post-image{
	float:right;
	margin-bottom:3px;
	min-height:100px;
}
.related-excerpt{
	height:100px;
	overflow:hidden;
}
.related-excerpt p{
	line-height:20px;
}
*/