.contentWrapper{
  width:90%;
  max-width:30em;
  margin:0 auto;
  padding:2em 0;
  overflow:hidden;
}

.postRating{
  width:4em;
  height:4em;
  line-height:1;
  text-align:center;
  border-radius:50%;
  background:$black;
  color:$cream;
  font-family:$display;
  padding-top:1.5em;
}