.contentWrapper{
  width:90%;
  max-width:30em;
  margin:0 auto;
  padding:2em 0;
  overflow:hidden;
  border-bottom:.8em solid $black;
  margin-bottom:2em;
}
.postMainContent{
  padding-bottom:1em;
  border-bottom:.8em solid $black;
  margin-bottom:1em;
}

.postRating{
  width:4em;
  height:4em;
  line-height:1;
  text-align:center;
  border-radius:50%;
  background:$black;
  color:$cream;
  font-family:$display;
  padding-top:1.5em;
}